In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
filepath = "NBA_Draft_1980_2017.tsv"
Data = pd.read_csv(filepath, sep = '\t')
Data

      year  round  pick              player position         school
0     1980      1   1.0  Carroll, Joe Barry      F/C         Purdue
1     1980      1   2.0   Griffith, Darrell        G     Louisville
2     1980      1   3.0       McHale, Kevin      F/C      Minnesota
3     1980      1   4.0      Ransey, Kelvin        G     Ohio State
4     1980      1   5.0          Ray, James        F   Jacksonville
...    ...    ...   ...                 ...      ...            ...
2162  2018      2  56.0         Jacob Evans       SF     Cincinnati
2163  2018      2  57.0        Jevon Carter       PG  West Virginia
2164  2018      2  58.0      Borisa Simanic    SF/PF         Serbia
2165  2018      2  59.0       Bonzie Colson    SF/PF     Notre Dame
2166  2018      2  60.0    Kendall Stephens    SG/SF         Nevada

[2167 rows x 6 columns]

In [10]:
Data.dtypes

year          int64
round         int64
pick        float64
player       object
position     object
school       object
dtype: object

In [12]:
Data = Data.dropna()
Data

      year  round  pick              player position         school
0     1980      1   1.0  Carroll, Joe Barry      F/C         Purdue
1     1980      1   2.0   Griffith, Darrell        G     Louisville
2     1980      1   3.0       McHale, Kevin      F/C      Minnesota
3     1980      1   4.0      Ransey, Kelvin        G     Ohio State
4     1980      1   5.0          Ray, James        F   Jacksonville
...    ...    ...   ...                 ...      ...            ...
2162  2018      2  56.0         Jacob Evans       SF     Cincinnati
2163  2018      2  57.0        Jevon Carter       PG  West Virginia
2164  2018      2  58.0      Borisa Simanic    SF/PF         Serbia
2165  2018      2  59.0       Bonzie Colson    SF/PF     Notre Dame
2166  2018      2  60.0    Kendall Stephens    SG/SF         Nevada

[2166 rows x 6 columns]

In [27]:
filepath = "NBADraftData.csv"
Data = pd.read_csv(filepath)

In [37]:
Data['last name'], Data['first name'] = Data['player'].str.split(', ', 1).str
D2018 = Data.loc[Data['year'] == 2018]
D1992 = Data.loc[Data['year'] == 1992]
D1990 = Data.loc[Data['year'] == 1990]
D1989 = Data.loc[Data['year'] == 1989]
D2018['first name'], D2018['last name'] = D2018['player'].str.split(' ', 1).str
D1992['first name'], D1992['last name'] = D1992['player'].str.split(' ', 1).str
D1989['first name'], D1989['last name'] = D1989['player'].str.split(' ', 1).str
D1990['first name'], D1990['last name'] = D1990['player'].str.split(' ', 1).str
D1989

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  import sys
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  if __name__ == '__main__':
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,year,round,pick,player,position,school,last name,first name
422,1989,1,1,Pervis Ellison,PF,Louisville,Ellison,Pervis
423,1989,1,2,Danny Ferry,PF,Duke,Ferry,Danny
424,1989,1,3,Sean Elliott,SF/SG,Arizona,Elliott,Sean
425,1989,1,4,Glen Rice,SF,Michigan,Rice,Glen
426,1989,1,5,J. R. Reid,PF/C,North Carolina,R. Reid,J.
427,1989,1,6,Stacey King,C,Oklahoma,King,Stacey
428,1989,1,7,George McCloud,SG/SF,Florida State,McCloud,George
429,1989,1,8,Randy White,PF,Louisiana Tech,White,Randy
430,1989,1,9,Tom Hammonds,PF/C,Georgia Tech,Hammonds,Tom
431,1989,1,10,Pooh Richardson,PG,UCLA,Richardson,Pooh
432,1989,1,11,Nick Anderson,SF/SG,Illinois,Anderson,Nick
433,1989,1,12,Mookie Blaylock,PG,Oklahoma,Blaylock,Mookie
434,1989,1,13,Michael Smith,PF,BYU,Smith,Michael
435,1989,1,14,Tim Hardaway*,PG,UTEP,Hardaway*,Tim
436,1989,1,15,Todd Lichti,SG,Stanford,Lichti,Todd
437,1989,1,16,Dana Barros,PG,Boston College,Barros,Dana
438,1989,1,17,Shawn Kemp,PF/C,Trinity Valley CC,Kemp,Shawn
439,1989,1,18,B. J. Armstrong,PG,Iowa,J. Armstrong,B.
440,1989,1,19,Kenny Payne,PF,Louisville,Payne,Kenny
441,1989,1,20,Jeff Sanders,PF/C,Georgia Southern,Sanders,Jeff
442,1989,1,21,Blue Edwards,SF/SG,East Carolina,Edwards,Blue
443,1989,1,22,Byron Irvin,SG,Missouri,Irvin,Byron
444,1989,1,23,Roy Marble,SG/SF,Iowa,Marble,Roy
445,1989,1,24,Anthony Cook,PF/C,Arizona,Cook,Anthony
446,1989,1,25,John Morton,PG,Seton Hall,Morton,John
447,1989,1,26,Vlade Divac,C,KK Partizan,Divac,Vlade
448,1989,1,27,Kenny Battle,PF,Illinois,Battle,Kenny
449,1989,2,28,Sherman Douglas,G,Syracuse,Douglas,Sherman
450,1989,2,29,Dyron Nix,F,Tennessee,Nix,Dyron
451,1989,2,30,Frank Kornet,F,Vanderbilt,Kornet,Frank
452,1989,2,31,Jeff Martin,G,Murray State,Martin,Jeff
453,1989,2,32,Stanley Brundy,F,DePaul,Brundy,Stanley
454,1989,2,33,Jay Edwards,G,Indiana,Edwards,Jay
455,1989,2,34,Gary Leonard,C,Missouri,Leonard,Gary
456,1989,2,35,Pat Durham,F,Colorado State,Durham,Pat
457,1989,2,36,Cliff Robinson,PF/C,Connecticut,Robinson,Cliff
458,1989,2,37,Michael Ansley,F,Alabama,Ansley,Michael
459,1989,2,38,Doug West,G/F,Villanova,West,Doug
460,1989,2,39,Ed Horton,PF/C,Iowa,Horton,Ed
461,1989,2,40,Dino RaÄ‘a,PF,KK Split,RaÄ‘a,Dino
462,1989,2,41,Doug Roth,C,Tennessee,Roth,Doug
463,1989,2,42,Michael Cutright,SG,McNeese State,Cutright,Michael
464,1989,2,43,Chucky Brown,PF,North Carolina State,Brown,Chucky
465,1989,2,44,Reggie Cross,PF,Hawaii,Cross,Reggie
466,1989,2,45,Scott Haffner,G,Evansville,Haffner,Scott
467,1989,2,46,Ricky Blanton,F,LSU,Blanton,Ricky
468,1989,2,47,Reggie Turner,SF,UAB,Turner,Reggie
469,1989,2,48,Junie Lewis,PG,South Alabama,Lewis,Junie
470,1989,2,49,Haywoode Workman,G,Oral Roberts,Workman,Haywoode
471,1989,2,50,Brian Quinnett,F,Washington State,Quinnett,Brian
472,1989,2,51,Mike Morrison,G,Loyola,Morrison,Mike
473,1989,2,52,Greg Grant,G,Trenton State,Grant,Greg
474,1989,2,53,Jeff Hodge,SG,South Alabama,Hodge,Jeff
475,1989,2,54,Toney Mack,SG,Georgia,Mack,Toney

In [38]:
Data = Data[Data["year"] != 2018]
Data = Data[Data["year"] != 1992]
Data = Data[Data["year"] != 1989]
Data = Data[Data["year"] != 1990]
# df.append(df2, ignore_index=True)
Data = Data.append(D2018)
Data = Data.append(D1992)
Data = Data.append(D1989)
Data = Data.append(D1990)
Data

,year,round,pick,player,position,school,last name,first name
0,1980,1,1,"Carroll, Joe Barry",F/C,Purdue,Carroll,Joe Barry
1,1980,1,2,"Griffith, Darrell",G,Louisville,Griffith,Darrell
2,1980,1,3,"McHale, Kevin",F/C,Minnesota,McHale,Kevin
3,1980,1,4,"Ransey, Kelvin",G,Ohio State,Ransey,Kelvin
4,1980,1,5,"Ray, James",F,Jacksonville,Ray,James
...,...,...,...,...,...,...,...,...
525,1990,2,50,MiloÅ¡ BabiÄ‡,C,Tennessee Tech,BabiÄ‡,MiloÅ¡
526,1990,2,51,Tony Smith,G,Marquette,Smith,Tony
527,1990,2,52,Stefano Rusconi,PF/C,Ranger Varese,Rusconi,Stefano
528,1990,2,53,Abdul Shamsid-Deen,C,Providence,Shamsid-Deen,Abdul
529,1990,2,54,Sean Higgins,G/F,Michigan,Higgins,Sean

In [26]:
# Failed attempt to streamline changes
# if Data2['player'].str.contains(',').all() == True:
#     Data2['last name'], Data2['first name'] = Data2['player'].str.split(', ', 1).str
# else:
#     Data2['first name'], Data2['last name'] = Data2['player'].str.split(' ').str

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  after removing the cwd from sys.path.

ValueError: too many values to unpack (expected 2)

In [43]:
Data["player"] = Data["first name"] + " " + Data["last name"]
Data

,year,round,pick,player,position,school,last name,first name
0,1980,1,1,Joe Barry Carroll,F/C,Purdue,Carroll,Joe Barry
1,1980,1,2,Darrell Griffith,G,Louisville,Griffith,Darrell
2,1980,1,3,Kevin McHale,F/C,Minnesota,McHale,Kevin
3,1980,1,4,Kelvin Ransey,G,Ohio State,Ransey,Kelvin
4,1980,1,5,James Ray,F,Jacksonville,Ray,James
...,...,...,...,...,...,...,...,...
525,1990,2,50,MiloÅ¡ BabiÄ‡,C,Tennessee Tech,BabiÄ‡,MiloÅ¡
526,1990,2,51,Tony Smith,G,Marquette,Smith,Tony
527,1990,2,52,Stefano Rusconi,PF/C,Ranger Varese,Rusconi,Stefano
528,1990,2,53,Abdul Shamsid-Deen,C,Providence,Shamsid-Deen,Abdul
529,1990,2,54,Sean Higgins,G/F,Michigan,Higgins,Sean

In [44]:
Data.to_csv("NBADraftData2.csv", index = False)